@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

body, html {
    height: 100%;
    background: rgb(79, 102, 236);
    background: -webkit-linear-gradient(to right, rgb(21, 130, 233), rgb(48, 92, 175), rgb(9, 9, 80));
    background: linear-gradient(to right, rgb(163, 171, 243), rgb(99, 146, 233), rgb(36, 36, 148));
}

.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 750px;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

#grandpy_writing {
    margin-left: 20px;
}

#msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.container {
    align-content: center;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: rgba(187, 222, 236, 0.972) !important;
    height: 60px !important;
    overflow-y: auto;
    border-radius: 15px 0 0 15px !important;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn_elt {
    margin: 10px;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.input-group .form-control {
    left: 0px;
    float: left;
    width: auto !important
}

.input-group .input-group-addon {
    float: left;
    width: auto !important
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    overflow: auto;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    overflow: auto;
}


.msg_head {
    position: relative;
}

html .msg_cotainer, .msg_cotainer_send {
    font-size: 1rem;
}

@media (min-width: 576px) {
    html .msg_cotainer, .msg_cotainer_send {
        font-size: 1rem;
    }

}

@media (min-width: 768px) {
    html .msg_cotainer, .msg_cotainer_send {
        font-size: 1.25rem;
    }

}

@media (min-width: 992px) {
    html .msg_cotainer, .msg_cotainer_send {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    html .msg_cotainer, .msg_cotainer_send {
        font-size: 1.75rem;
    }

    .msg_cotainer {
        margin-left: 40px;
    }

    .main_user_img {
        margin-right: 30px;
    }

    .user_img_msg {
        height: 70px;
        width: 70px;
    }

}

@media (max-width: 700px) {
    .input-group-addon, .input-group-btn, .input-group .form-control {
        display: block;
        clear: both;
    }

    .type_msg {
        margin-bottom: 100px;
        border-radius: 15px 15px 15px 15px !important;
        min-width: 100%;
    }

    .send_btn {
        margin: auto;
        text-align: center;
        border-radius: 15px 15px 15px 15px !important;
    }
}

.typing-indicator {
    background-color: #e6e7ed;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
}

.typing-indicator::before, .typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #e6e7ed;
}

.typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}

.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148)));
}

#mapid { height: 250px;
width: 100%
}

#mapidbox {
min-width: 80%
}
