{% extends 'layouts/default.html' %}
<!--Active page is set for the menu-->
{% set active_page = "home" %}

{% block body %}

    <div class="container-fluid">
    <!-- Chatbox-->
    <div id="chatbox" class="chatbox">
        <div class="row">
            <div id="chatmsg" class="col-lg-offset-3 col-lg-6">
                <div class="row">
                    <div class='message bot'>Bonjour ! Je peux localiser des endroits et vous raconter leur histoire... De quoi allons nous parler ?</div>
                </div>
            </div>
            <div id="wait_msg" class="col-lg-offset-3 col-lg-6">
                    <div class="row">
                    <div class='message bot' id='wait'>
                        <i class="fa fa-spinner fa-pulse"></i>
                        Merci de patienter, je réfléchis...
                    </div>
                </div>
            </div>
        </div>

        <!-- User input-->
        <form id="chatform" class="form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                  <div class="col-md-offset-3 col-md-6">
                    <div class="input-group">
                      <input id="user_message" name="user_message" required="required"
                             oninvalid="this.setCustomValidity('Entrez un message.')"
                             oninput="setCustomValidity('')"
                             class="form-control" placeholder="Entrez votre message" type="text">
                      <span class="input-group-btn"><button id="submit" class="btn btn-primary" type="submit">Envoyer</button></span>
                    </div>
                  </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type=text/javascript> $GMAPS_KEY = "{{ gmapskey }}";</script>
{% endblock %}